body {
  display: flex;
  flex-direction: column;
  background-color: #61dafb;
  text-align: center;
}

#clock {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: 36px;
  border: 2px solid #000;
  border-radius: 7px;
  background-color: #f1f5f8;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.22);
}

#timezone {
  width: 40%;
  margin: 20px auto;
  font-size: 25px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.22);
}

button {
  min-width: 20%;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 20px;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #4676d7;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.22);
}

button:hover {
  background: #1d49aa;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}
